apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-api
  namespace: microservice-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-api
  template:
    metadata:
      labels:
        app: auth-api
    spec:
      containers:
        - name: auth-api
          image: auth-api:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          env:
            - name: JWT_SECRET
              value: "PRFT"
            - name: AUTH_API_PORT
              value: "8000"
            - name: USERS_API_ADDRESS
              value: "http://users-api-service:8083"
