apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-blue
  namespace: microservice-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      version: blue
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: frontend
        version: blue
    spec:
      containers:
        - name: frontend
          image: frontend:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          env:
            - name: AUTH_API_ADDRESS
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: AUTH_API_ADDRESS
            - name: TODOS_API_ADDRESS
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: TODOS_API_ADDRESS