apiVersion: apps/v1
kind: Deployment
metadata:
  name: todos-api
  namespace: microservice-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todos-api
  template:
    metadata:
      labels:
        app: todos-api
    spec:
      containers:
        - name: todos-api
          image: todos-api:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          env:
            - name: JWT_SECRET
              value: "PRFT"
            - name: TODOS_API_PORT
              value: "8082"
            - name: REDIS_HOST
              value: "redis-service"
            - name: REDIS_PORT
              value: "6379"