apiVersion: apps/v1
kind: Deployment
metadata:
  name: todos-api
  namespace: microservice-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todos-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: todos-api
    spec:
      containers:
        - name: todos-api
          image: todos-api:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8082
          resources:
            requests: 
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "400m"
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: microservice-secrets
                  key: JWT_SECRET
            - name: TODOS_API_PORT
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: TODOS_API_PORT
            - name: REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: REDIS_HOST
            - name: REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: REDIS_PORT