apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-api
  namespace: microservice-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users-api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  template:
    metadata:
      labels:
        app: users-api
    spec:
      containers:
        - name: users-api
          image: users-api:1.0
          imagePullPolicy: Never
          ports:
            - containerPort: 8083
          resources:
            requests:
              memory: "128Mi"
              cpu: "200m"   
            limits:
              memory: "256Mi" 
              cpu: "400m"
          env:
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: microservice-config
                  key: SERVER_PORT
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: microservice-secrets
                  key: JWT_SECRET