apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config
  namespace: monitoring

data:
  grafana.ini: |
    [server]
    http_port = 3000
    [security]
    admin_user = admin
    admin_password = admin123

  datasources.yaml: |
    apiVersion: 1 
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service.monitoring.svc.cluster.local:9090
        isDefault: true
        editable: true
  dashboards.yaml: |
    apiVersion: 1
    providers:
      - name: 'default'
        orgId: 1
        folder: ''
        type: file
        disableDeletion: false
        editable: true
        options:
          path: /etc/grafana/provisioning/dashboards