apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
    
      - job_name: 'redis'
        static_configs:
          - targets: ['redis-exporter-service.microservice-app.svc.cluster.local:9121']
      - job_name: 'kube-state-metrics'
        static_configs:
          - targets: ['kube-state-metrics.kube-system.svc.cluster.local:8080']
      
      - job_name: 'kubernetes-nodes'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)

      - job_name: 'node-exporter'
        static_configs:
        - targets: ['node-exporter-prometheus-node-exporter.monitoring.svc.cluster.local:9100']   
      
      - job_name: 'kubernetes-cadvisor'
        scheme: https
        tls_config:
          ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
          insecure_skip_verify: true
        bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
        kubernetes_sd_configs:
          - role: node
        relabel_configs:
          - action: labelmap
            regex: __meta_kubernetes_node_label_(.+)
          - target_label: __address__
            replacement: kubernetes.default.svc:443
          - source_labels: [__meta_kubernetes_node_name]
            regex: (.+)
            target_label: __metrics_path__
            replacement: /api/v1/nodes/${1}/proxy/metrics/cadvisor
        metric_relabel_configs:

          - source_labels: [id]
            regex: '/kubepods/[^/]+/pod([^/]+)/.*'
            target_label: pod_uid
          - source_labels: [id]
            regex: '/kubepods/besteffort/pod[^/]+/([^/]+)'
            target_label: container_name
          - source_labels: [id]
            regex: '/kubepods/burstable/pod[^/]+/([^/]+)'
            target_label: container_name
          - source_labels: [id]
            regex: '/kubepods/[^/]+/pod[^/]+/([^/]+)'
            target_label: container
            replacement: '$1'

      - job_name: 'blackbox'
        metrics_path: /probe
        params:
          module: [http_2xx]
        static_configs:
          - targets:
            - http://todos-api-service.microservice-app.svc.cluster.local:8082
            - http://users-api-service.microservice-app.svc.cluster.local:8083
            - http://auth-api-service.microservice-app.svc.cluster.local:8000
            - http://frontend-service.microservice-app.svc.cluster.local:8080
        relabel_configs:
        - source_labels: [__address__]
          target_label: __param_target
        - source_labels: [__param_target]
          target_label: instance
        - target_label: __address__
          replacement: blackbox-exporter-service.monitoring.svc.cluster.local:9115
